<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
</head>
<body>
<h2>Информация:</h2>
<h5>Имя: {{ user.username }}</h5>
<h3>Статус: {{ user.profile.status }}</h3>
<h3>Возраст: {{ user.profile.age }}</h3>
{% if check_chat %}
<form method="post">
    {% csrf_token %}
    <button type="submit" name="create_chat">Создать чат</button>
</form>
{% else %}
<form method="post">
    {% csrf_token %}
    <button type="submit" name="redirect_chat">Перейти к чату</button>
</form>
{% endif %}
<h2>Посты {{ user.username }}</h2>
{% for post in posts %}
<h5>{{ post.title }}</h5>
<p>{{ post.content }}</p>
{% endfor %}
<form method="post">
    {% csrf_token %}
<button type="submit" name="test_redirect_chat">TEST</button>
</form>

</body>
</html>